ion-content{
  --background: var(--alice-blue);
}

ion-searchbar{
  --border-radius:10px
}

ion-button{
  --background:  var(--atomic-tangerine);
}

:host ::ng-deep .custom-spinner circle{
  stroke: var(--atomic-tangerine);
}

.center {
  position: absolute;
  top: 45%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay{
  height: 100vh;
  width: 100%;
  background-color: var(--alice-blue);
  z-index: 10;
  position: fixed;
}

ion-label.title {
  font-size: 16px;
  font-weight: 600;
  color: var(--bole);
}

ion-item.custom {
  --ripple-color: var(--atomic-tangerine);
  --detail-icon-color: var(--bole);

  ion-thumbnail {
    --border-radius: 8px;
  }

  p, h2 {
    color: var(--bole);
    margin: 0;
  }
}

ion-searchbar.custom {
  --background: var(--pale-dogwood);
  --color: var(--bole);
  --placeholder-color: var(--bole);
  --icon-color: var(--atomic-tangerine);
  --box-shadow: none;
  --border-radius: 200px;
}
