
ion-content{
  --background: var(--pale-dogwood);
}
ion-card-content {
  max-height: calc(100% - #{50px});
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}

ion-card {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

ion-list {
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}

.list-content{
  max-width: 600px;
  overflow-y: auto;
  // max-height: 600px;
  // padding-bottom: 50px;
}

.label-small {
  font-size: 0.8rem; /* tamaño de fuente reducido */
}

ion-searchbar{
  --border-radius:10px
}

ion-button{
  --background:  var(--atomic-tangerine);
}

.back-button{
  position: relative;
  left: 7px;
  top: 4px;
}

:host ::ng-deep .custom-spinner circle{   
  // stroke: var(--atomic-tangerine);
}

.center {
  position: absolute;
  top: 45%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.overlay{
  height:100vh;
  width:100%;
  // background-color:rgba(0, 0, 0, 0.586);
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
  backdrop-filter: blur(3px);
}