// .main-container {
//   background: var(--pale-dogwood);
// }
ion-content{
  --background: var(--pale-dogwood);
}
ion-card-content {
  max-height: calc(100% - #{50px});
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}

ion-card {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

ion-list {
  overflow: hidden;
  overflow-y: auto;
  ::-webkit-scrollbar {
    display: none;
  }
}

.list-content{
  max-width: 600px;
  overflow-y: auto;
  // max-height: 600px;
  // padding-bottom: 50px;
}

.label-small {
  font-size: 0.8rem; /* tamaño de fuente reducido */
}

ion-searchbar{
  --border-radius:10px
}

ion-button{
  --background:  var(--atomic-tangerine);
}

.back-button{
  position: relative;
  left: 7px;
  top: 4px;
}
