<ion-content [fullscreen]="true">
    <div class="main-container">
        <div class="list-content">
            <div class="pt-5">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title class="ion-text-center">Lista de canciones</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </div>
            <ion-searchbar show-clear-button="focus" placeholder="Buscar" [(ngModel)]="searchText"
                (ionInput)="filterList()"></ion-searchbar>
            <div *ngIf="loading" class="overlay"> 
                <div class="center" >
                    <mat-spinner class="custom-spinner" color="warn" mode="indeterminate"></mat-spinner>
                </div>
            </div>
            <ion-card *ngFor="let sheet of filteredSheets">
                <ion-card-content>
                    <ion-card-header>
                        <ion-card-title>{{sheet.song_id.title}}</ion-card-title>
                    </ion-card-header>
                    <ion-row>
                        <ion-col>
                            <p>{{sheet.song_id.album_id.artist_id.name}}</p>
                        </ion-col>
                        <ion-button color="dark" fill="clear" type="button" (click)="navigate(sheet)">
                            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
                        </ion-button>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>