<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="main-container">
    <ion-list *ngIf="isLoading; else loaded">
      <ion-item lines="none">
        <ion-searchbar show-clear-button="focus" placeholder="{{ 'SEARCH' | translate }}" class="custom" disabled="true"></ion-searchbar>
      </ion-item>
      <ion-list-header>
        <ion-skeleton-text [animated]="true" style="width: 20%;"></ion-skeleton-text>
      </ion-list-header>
      <ion-item class="custom" lines="full">
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h2>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h2>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ng-template #loaded>
      <ion-list @fadeIn>
        <ion-item lines="none">
          <ion-searchbar show-clear-button="focus" placeholder="{{ 'SEARCH' | translate }}" [(ngModel)]="searchText"
                         (ionInput)="filterSongs()" [debounce]="500" class="custom"></ion-searchbar>
        </ion-item>
        <ion-list-header>
          <ion-label class="title">{{ 'CATEGORIES.SONGS' | translate }}</ion-label>
        </ion-list-header>
        <ion-item button *ngFor="let song of filteredSongs" (click)="navigate(song)" class="custom" detail="true"
                  lines="full">
          <ion-thumbnail slot="start">
            <img alt="Song" src="../../../assets/images/song.png"/>
          </ion-thumbnail>
          <ion-label>
            <h2>{{song.title}}</h2>
            <p>
              <span *ngFor="let artist of song.artists">{{artist.name}}</span>
            </p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="filteredSongs.length === 0" class="custom ion-text-center" lines="full">
          <ion-label *ngIf="connected; else disconnected">{{ 'SONGS.ANY' | translate }}</ion-label>
          <ng-template #disconnected>
            <ion-label class="ion-text-wrap">{{ 'SONGS.DISCONNECTED' | translate }}</ion-label>
          </ng-template>
        </ion-item>
      </ion-list>
    </ng-template>
  </div>
</ion-content>
