ion-header {
  box-shadow: 0 2px 4px var(--primary-shade);
}

ion-toolbar {
  --background: var(--bg);
}

ion-title {
  --color: var(--text);
}

p {
  font-family: 'Licorice', 'Inter', sans-serif;
  font-size: 32px;
  margin: 0;
  color: var(--primary);
}

ion-menu {
  ion-content {
    --background: var(--bg);
  }
}

ion-item {
  --background: var(--bg);
  --color: var(--text);

  span {
    color: var(--text);
  }
}

ion-button {
  --color: var(--text);
  --ripple-color: var(--primary-50);
  --background-focused: var(--text);
  --background-hover: var(--text);

  span {
    color: var(--primary);
  }
}

ion-toggle {
  --handle-background-checked: var(--primary);
  --track-background-checked: var(--primary-50);
}

.medium-weight {
  font-weight: 500;
}
