<ion-menu menuId="settings" side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ 'SETTINGS' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="ion-no-padding" lines="full">
      <ion-item class="medium-weight">
        <ion-label slot="start">{{ 'INSTRUMENT' | translate }}</ion-label>
        <ion-select slot="end" aria-label="Instrument" [(ngModel)]="currentInstrument" [selectedText]="currentInstrument | translate" (ionChange)="changeInstrument($event)" placeholder="Select instrument">
          <ion-select-option *ngFor="let instrument of instruments" [value]="instrument">{{ instrument | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item detail="false" class="medium-weight">
        <ion-label>{{ 'LANGUAGE' | translate }}</ion-label>
        <ion-select slot="end" aria-label="Language" [(ngModel)]="currentLanguage" [selectedText]="'LANGUAGES.' + currentLanguage | translate" (ionChange)="changeLanguage($event)" placeholder="Select language">
          <ion-select-option *ngFor="let language of languages" [value]="language">{{ 'LANGUAGES.' + language | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item detail="false" class="medium-weight">
        <ion-label>{{ 'THEME' | translate }}</ion-label>
        <ion-row slot="end" class="ion-align-items-center ion-no-padding">
          <ion-col size="auto">
            <span aria-label="Light Mode icon" class="material-symbols-rounded">light_mode</span>
          </ion-col>
          <ion-col size="auto">
            <ion-toggle #toggleTheme aria-label="Theme Toggle" style="padding-left: 0" [checked]="isDark" (ionChange)="changeTheme($event)"></ion-toggle>
          </ion-col>
          <ion-col size="auto">
            <span aria-label="Dark Mode icon" class="material-symbols-rounded">dark_mode</span>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-menu menuId="help" side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ 'HELP' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="ion-no-padding" lines="full">
      <ion-item button detail="true" class="medium-weight">
        <ion-label>{{ 'TUTORIAL' | translate }}</ion-label>
        <span slot="end" aria-label="Lesson icon" class="material-symbols-rounded">school</span>
      </ion-item>
      <ion-item button (click)="openUserManual()" detail="true" class="medium-weight">
        <ion-label>{{ 'USER_MANUAL' | translate }}</ion-label>
        <span slot="end" aria-label="Book icon" class="material-symbols-rounded">menu_book</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-toggle menu="settings">
          <ion-button shape="round" fill="clear">
            <span slot="icon-only" aria-label="Settings icon" class="material-symbols-rounded">settings</span>
          </ion-button>
        </ion-menu-toggle>
        <ion-menu-toggle menu="help">
          <ion-button shape="round" fill="clear">
            <span slot="icon-only" aria-label="Help icon" class="material-symbols-rounded">help</span>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <p class="ion-padding-start" (click)="navToMainView()">GuitarBox</p>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</div>
<app-loading *ngIf="isLoading"></app-loading>
