ion-title {
  --color: var(--bole);
}

p {
  font-family: 'Licorice', 'Inter', sans-serif;
  font-size: 32px;
  margin: 0;
  color: var(--atomic-tangerine);
}

ion-item {
  --color: var(--bole);

  span {
    color: var(--bole);
  }
}

ion-button {
  --color: var(--bole);
  --ripple-color: var(--atomic-tangerine-50);
  --background-focused: var(--bole);
  --background-hover: var(--bole);

  span {
    color: var(--atomic-tangerine);
  }
}

.medium-weight {
  font-weight: 500;
}
