<ion-menu menuId="settings" side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="ion-no-padding" lines="full">
      <ion-item class="medium-weight">
        <ion-label slot="start">Instrument</ion-label>
        <ion-select #instrumentSelect slot="end" aria-label="Instrument" [value]="currentInstrument" [compareWith]="compareWith" (ionChange)="changeInstrument($event)" placeholder="Select instrument">
          <ion-select-option *ngFor="let instrument of instruments" [value]="instrument">{{instrument.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item detail="false" class="medium-weight">
        <ion-label>Language</ion-label>
        <ion-select slot="end" aria-label="Language" value="en" placeholder="Select instrument">
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="es">Spanish</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item detail="false" class="medium-weight">
        <ion-label>Theme</ion-label>
        <ion-row slot="end" class="ion-align-items-center ion-no-padding">
          <ion-col size="auto">
            <mat-icon aria-hidden="false" aria-label="Dark Mode icon" fontSet="material-symbols-rounded">dark_mode</mat-icon>
          </ion-col>
          <ion-col size="auto">
            <ion-toggle aria-label="Theme Toggle" style="padding-left: 0"></ion-toggle>
          </ion-col>
          <ion-col size="auto">
            <mat-icon aria-hidden="false" aria-label="Light Mode icon" fontSet="material-symbols-rounded">light_mode</mat-icon>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-menu menuId="help" side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Help</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="ion-no-padding" lines="full">
      <ion-item button detail="true" class="medium-weight">
        <ion-label>Tutorial</ion-label>
        <mat-icon slot="end" aria-hidden="false" aria-label="Lesson icon" fontSet="material-symbols-rounded">school</mat-icon>
      </ion-item>
      <ion-item href="../../assets/userManual_ES.pdf" detail="true" class="medium-weight">
        <ion-label>User Manual</ion-label>
        <mat-icon slot="end" aria-hidden="false" aria-label="Book icon" fontSet="material-symbols-rounded">menu_book</mat-icon>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-toggle menu="settings">
          <ion-button shape="round" fill="clear">
            <mat-icon slot="icon-only" aria-hidden="false" aria-label="Settings icon" fontSet="material-symbols-rounded">settings</mat-icon>
          </ion-button>
        </ion-menu-toggle>
        <ion-menu-toggle menu="help">
          <ion-button shape="round" fill="clear">
            <mat-icon slot="icon-only" aria-hidden="false" aria-label="Help icon" fontSet="material-symbols-rounded">help</mat-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <p class="ion-padding-start" (click)="navToMainView()">GuitarBox</p>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</div>
<app-loading *ngIf="isLoading"></app-loading>
