<ion-content [fullscreen]="true">
  <div class="main-container full-height">
    <div class="tuner-container stack">
      <ion-text>{{ 'TUNER.' + advice | translate }}</ion-text>
      <div *ngIf="reached; else circleContainerEl" class="circle-container">
        <div [ngStyle]="{'transform': rotation}" class="indicator">
          <div class="dot reached"></div>
        </div>
        <div class="circle">
          <span class="reached">{{ note }}</span>
        </div>
      </div>
      <ng-template #circleContainerEl>
        <div class="circle-container">
          <div [ngStyle]="{'transform': rotation}" class="indicator">
            <div class="dot"></div>
          </div>
          <div class="circle">
            <span>{{ note }}</span>
          </div>
        </div>
      </ng-template>
      <ion-button (click)="startStop()" class="icon-btn" shape="round">
        <div *ngIf="hasStarted; then stopBtn else startBtn"></div>
        <ng-template #stopBtn>
          <span slot="icon-only" aria-label="Stop icon"
                class="material-symbols-rounded">mic
          </span>
        </ng-template>
        <ng-template #startBtn>
          <span slot="icon-only" aria-label="Play icon"
                    class="material-symbols-rounded">mic_off
          </span>
        </ng-template>
      </ion-button>
    </div>
    <div class="stack full-height">
      <ion-grid class="ion-no-padding full-height">
        <ion-row class="ion-justify-content-evenly full-height">
          <ion-col size="auto">
            <div class="chord full-height"></div>
          </ion-col>
          <ion-col size="auto">
            <div class="chord full-height"></div>
          </ion-col>
          <ion-col size="auto">
            <div class="chord full-height"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-alert
      [isOpen]="isAlertOpen"
      header="{{ 'TUNER.ALERT.HEADER' | translate }}"
      message="{{ 'TUNER.ALERT.MESSAGE' | translate }}"
      [buttons]="['OK']"
      (didDismiss)="setOpen(false)"
    ></ion-alert>
  </div>
</ion-content>
