.main-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  background: var(--secondary);
}

.full-height {
  height: 100%;
}

.stack {
  grid-area: 1 / 2;
}

.indicator {
  grid-area: 1 / 1;
  width: 100%;
  display: flex;
  place-self: center;
  z-index: 2;
  color: var(--primary);

  .dot {
    border: 4px solid;
    border-radius: 100%;
    width: 12vw;
    aspect-ratio: 1 / 1;
  }
}

.tuner-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: var(--text);

  ion-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
  }
}

.circle-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.circle {
  grid-area: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  border: 4px solid var(--bg);
  border-radius: 100%;
  margin: 6vw;
  color: var(--primary);

  span {
    font-weight: 600;
    font-size: 64px;
  }
}

.chord {
  width: 4px;
  background-color: var(--bg);
}

.icon-btn {
  --background: var(--bg);
  --ripple-color: var(--primary-50);
  --box-shadow: 0 2px 6px 0 var(--primary-shade);

  .material-symbols-rounded {
    color: var(--primary);
    font-variation-settings:
      'FILL' 1
  }
}

.reached {
  color: var(--tertiary-shade);
}
