<ion-content class="ion-padding">
  <div class="main-container full-height">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center" size="auto">
          <ion-label>{{ 'SETUP.MIC.MESSAGE' | translate }}</ion-label>
          <br><br>
          <ion-label class="subtitle">{{ 'SETUP.NEXT' | translate }}</ion-label>
        </ion-col>
        <ion-col size="12"></ion-col>
        <ion-col size="auto">
          <ion-button (click)="requestMicPermission()" class="icon-btn" size="medium" shape="round">
            <span slot="icon-only" aria-label="Next icon"
                  class="material-symbols-rounded">mic
            </span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-alert
      [isOpen]="isAlertOpen"
      header="{{ 'SETUP.MIC.ALERT.HEADER' | translate }}"
      message="{{ 'SETUP.MIC.ALERT.MESSAGE' | translate }}"
      [buttons]="['OK']"
      (didDismiss)="setAlertOpen(false)"
    ></ion-alert>
    <ion-toast
      [isOpen]="isToastOpen"
      message="{{ 'SETUP.MIC.TOAST' | translate }}"
      [duration]="1000"
      (didDismiss)="setToastOpen(false)"
    ></ion-toast>
  </div>
</ion-content>
