<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="metronome">
      <span aria-label="Metronome icon" class="material-symbols-rounded">play_circle</span>
    </ion-tab-button>
    <ion-tab-button tab="tuner">
      <span aria-label="Tuner icon" class="material-symbols-rounded">auto_detect_voice</span>
    </ion-tab-button>
    <ion-tab-button tab="songs">
      <span aria-label="Metronome icon" class="material-symbols-rounded">library_music</span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
