<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="metronome">
      <mat-icon aria-hidden="false" aria-label="Metronome icon" fontSet="material-symbols-rounded">play_circle</mat-icon>
    </ion-tab-button>
    <ion-tab-button tab="tuner">
      <mat-icon aria-hidden="false" aria-label="Tuner icon" fontSet="material-symbols-rounded">auto_detect_voice</mat-icon>
    </ion-tab-button>
    <ion-tab-button tab="songs">
      <mat-icon aria-hidden="false" aria-label="Metronome icon" fontSet="material-symbols-rounded">library_music</mat-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
