ion-content {
  --background: var(--bg);
}

span {
    color: var(--text);
}

ion-card {
  --background: var(--bg);
  box-shadow: none;
  height: 100%;
  overflow: auto;
}

.song {
  line-height: 32px;
}

.wrapper {
    color: black;
    margin: 15px;
}

ion-list {
  background: var(--bg);
}

ion-item {
  --background: var(--bg);
}

ion-item.custom {
  --ripple-color: var(--primary);
  --detail-icon-color: var(--text);

  ion-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tertiary);
    --border-radius: 8px;

    img {
      width: 36px;
      height: 36px;
    }
  }
}

ion-label {
  p, h2 {
    color: var(--text);
    margin: 0;
  }
}

ion-button.bpm-btn {
  height: 64px;
  font-weight: 700;
  --color: var(--primary);

  ion-icon {
    color: var(--secondary);
    font-size: 64px;
  }

  ion-text {
    position: absolute;
    font-size: 16px;
  }
}

ion-button.star-btn {
  --color: var(--primary);
}

ion-button.text-btn {
  --background: var(--secondary);
  --ripple-color: var(--primary-50);
  --box-shadow: 0 2px 6px 0 var(--primary-shade);
  --color: var(--primary);
  font-weight: 700;
}

ion-chip {
  --background: var(--primary);
  --color: var(--bg);
}

ion-toolbar{
  --background: var(--bg);
  color: var(--text);
}
