<ion-header>
  <ion-list>
    <ion-item class="custom" lines="full">
      <ion-thumbnail slot="start">
        <img alt="Song" src="../../../assets/images/song.png"/>
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <h2>{{song.title}}</h2>
        <p>{{song.album.title}}</p>
        <p>
          <span *ngFor="let artist of song.artists">{{artist.name}}</span>
        </p>
        <div class="genre-scroller">
          <ion-chip *ngFor="let genre of song.genres">{{genre.name}}</ion-chip>
        </div>
      </ion-label>
      <ion-button (click)="navToMetronomeView()" slot="end" class="bpm-btn ion-no-margin" shape="round" fill="clear">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
        <ion-text>{{song.bpm}}</ion-text>
      </ion-button>
    </ion-item>
    <ion-item class="custom" slot="header">
      <ion-button *ngIf="this.hasLyrics" id="open-modal" shape="round"
                  class="text-btn">{{ 'CHARTS' | translate }}</ion-button>
      <div *ngIf="hasVideo" slot="end">
        <ion-spinner *ngIf="loading; else ready"></ion-spinner>
        <ng-template #ready>
          <ion-button (click)="toggleAccordion()" shape="round" class="text-btn">
            <span *ngIf="isVisible; else hidden" slot="icon-only" aria-label="Stop icon"
                  class="material-symbols-rounded">close
            </span>
            <ng-template #hidden>
              <span slot="icon-only" aria-label="Play icon"
                    class="material-symbols-rounded">play_arrow
              </span>
            </ng-template>
          </ion-button>
        </ng-template>
      </div>
    </ion-item>
  </ion-list>
  <ion-accordion-group #accordionGroup *ngIf="this.hasVideo">
    <ion-accordion #youtubePlayer value="player">
      <div slot="content">
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <youtube-player *ngIf="connected; else disconnected" [width]="videoWidth" [height]="videoHeight" [videoId]="song.youtubeId" (ready)="onPlayerReady()"></youtube-player>
            <ng-template #disconnected>
              <div class="ion-text-center ion-padding-horizontal">
                <ion-label class="ion-text-wrap">{{ 'DISCONNECTED' | translate }}</ion-label>
              </div>
            </ng-template>
          </ion-col>
        </ion-row>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card #card *ngIf="this.hasLyrics; else noLyrics" class="ion-no-margin ion-padding-horizontal"
            (click)="autoScroll()">
    <div class="song ion-padding-end">
      <div class="lyrics-font" [innerHTML]="song.lyrics"></div>
    </div>
  </ion-card>
  <ng-template #noLyrics>
    <ion-label class="ion-text-center ion-text-wrap ion-margin">
      <h2>{{ "SHEETS.NO_CHORDS" | translate }}</h2>
    </ion-label>
  </ng-template>
</ion-content>
<ion-modal *ngIf="this.hasLyrics" trigger="open-modal" class="modal" (willPresent)="showCharts();">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="dismissCharts();">{{ 'BACK' | translate }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding-top">
      <ion-grid>
        <ion-row #charts class="ion-justify-content-center">
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>
