.main-container {
  background: var(--pale-dogwood);
}

.title-song {
  --color: var(--bole);
}

.artist-song {
  --color: var(--atomic-tangerine);
}

span {
  color: var(--bole);
}

$altura-encabezado: 145px;
$altura-pie-pagina: 100px;

.card-lyrics { 
  height: calc(100vh - #{$altura-encabezado} - #{$altura-pie-pagina});
  overflow: auto;
 
}

.song{
  line-height: 230%;
}
