<div style="display: grid; grid-template-columns: 1fr 240px 1fr; grid-template-rows: max-content; align-content: center">
  <div class="absolute">
    <div class="circle"></div>
  </div>
  <div class="absolute">
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <div class="chord"></div>
      </ion-col>
      <ion-col size="auto">
        <div class="chord"></div>
      </ion-col>
      <ion-col size="auto">
        <div class="chord"></div>
      </ion-col>
    </ion-row>
  </div>
</div>
