<ion-content>
  <div class="main-container full-height">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center" size="12">
          <p>GuitarBox</p>
          <br>
          <ion-label>Welcome to Guitarbox! This mobile app is designed to facilitate guitar practice and learning by offering features such as a metronome, tuner, and a collection of song sheets. We're excited to have you on board. Let's get started with the initial setup of the app.</ion-label>
        </ion-col>
        <ion-col size="12">
          <swiper-container scrollbar="true" space-between="30" autoplay-delay="2500" autoplay-disable-on-interaction="false">
            <swiper-slide>
              <ion-img src="../../../assets/images/metronome.png"></ion-img>
            </swiper-slide>
            <swiper-slide>
              <ion-img src="../../../assets/images/tuner.png"></ion-img>
            </swiper-slide>
            <swiper-slide>
              <ion-img src="../../../assets/images/songs.png"></ion-img>
            </swiper-slide>
          </swiper-container>
        </ion-col>
        <ion-col class="ion-text-center" size="12">
          <ion-label class="subtitle">Press the button to continue</ion-label>
        </ion-col>
        <ion-col size="auto">
          <ion-nav-link router-direction="forward" [component]="component">
            <ion-button class="icon-btn" size="medium" shape="round">
              <mat-icon slot="icon-only" aria-hidden="false" aria-label="Next icon"
                        fontSet="material-symbols-rounded">play_arrow
              </mat-icon>
            </ion-button>
          </ion-nav-link>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
