div.song > p {line-height:2.5;}
span.chord {position:fixed;line-height:0;font-weight:bold;margin-top:-4px;}
/* margin-top -4 lo agregué yo en span.chord */
span.chord-inline {font-weight:bold;padding-top: 10px;}
div.transposition a.transposition {margin:5px;padding-top: 10px;;}
div.song div.transposition {margin-bottom:40px;}