<div class="main-container">

  <ion-card>
    <ion-card-header>
      <ion-card-title class="title-song ion-padding-bottom">{{song.title}}</ion-card-title>
      <ion-row class="ion-justify-content-between">
        <ion-card-subtitle class="artist-song">{{song.artist}}</ion-card-subtitle>
        <ion-card-subtitle class="artist-song">BPM: {{song.bpm}}</ion-card-subtitle>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <div class="ion-padding">
      <div class="song">
      <div class="lyrics-font" [innerHTML]="song.lyrics"></div>
    </div>
    </div>
  </ion-card>

  <!-- <div class="song" [innerHTML]="song.lyrics"></div> -->


</div>