
.title-song {
    --color: var(--bole);
}

.artist-song {
    --color: var(--atomic-tangerine);
}

span {
    color: var(--bole);
}
.card-lyrics {
    height: 380px;
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }
//   ion-list {
//     overflow: hidden;
//     overflow-y: auto;
//     ::-webkit-scrollbar {
//       display: none;
//     }
//   }